/* styles go here */
.information_box:not(:first-child) {
  margin-top: 20px;
}

.form_information {
  display: block;
  margin-top: 10px;
}

/* .information_box .form_information:nth-child(2) {
  margin: 0;
} */

.form_button {
  margin-top: 20px;
}
